@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:300,400|Poppins');
@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: Arial; background-color: #000000}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-family: "Oswald";font-size: 22px; font-weight: 300; color: #fff; display: inline-block; padding: 10px 30px; background: linear-gradient(#E6A316,#D55D06); border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Oswald";font-size: 60px;font-weight: 400;color:#fff;}

/*header*/
#header {position: relative;background: #000 url(../images/common/bgheader.jpg)no-repeat center top; background-size: cover;}
#header .row{max-width: 100%}
#header nav a#pull {display: none}
#header nav{}
#header nav ul{margin: 0; padding: 0;text-align: left;}
#header nav ul li {display:block;vertical-align: baseline;max-width: 700px; width: 100%;}
#header nav ul li a{display: block;font-family: "Oswald"; font-weight: 300;color: #fff;font-size: 30px;max-width: 650px; width: 100%;padding:30px 0 30px 50px;}
#header nav ul li a span{margin-left: 20px;}
#header nav ul li:nth-of-type(3) a, #header nav ul li:nth-of-type(4) a, #header nav ul li:nth-of-type(5) a{padding: 0 0 0 80px;max-width: 620px}
#header nav ul li p{font-family: "Oswald"; font-weight: 300;color: #fff;font-size: 30px;padding-left: 50px;padding-top: 1em; margin: 0;position: relative;}
#header nav ul li p::after{content:"2"; font-size: 30px; font-weight: 300;font-family: "Oswald"; color: #fff; position: absolute;right:40px;transform: rotate(90deg);}
#header nav ul li:nth-of-type(6) a{position: relative;}
#header nav ul li:nth-of-type(6) a:after{content:"3"; font-size: 30px; font-weight: 300;font-family: "Oswald"; color: #fff; position: absolute;right:40px;transform: rotate(90deg);}
#header nav ul li.active-menu a, #header nav ul li a:hover, #header nav ul li.active-menu p{background: linear-gradient(to right, #D55D06, #E6A316)}
.hdLeft{width:78%;min-height: 700px; position: relative;}
.hdLeft img{position: absolute;max-width: 556px; width: 48%;top: 50%;right: 36%;transform: translateY(-50%);}
.hdLeft a::after{content: url(../images/arrow.png);position: absolute;top: 67%;left:66%;transform: translateY(-33%)}
.hdRotate{background: rgb(0,0,0) url(../images/common/bgHeader2.png);position: absolute;right: 0; top: 0;bottom: 0;max-width: 700px;max-height: 430px;width: 100%;transform: rotate(-90deg);transform-origin: 69% 50.4%;}
/*banner*/
/* #banner {background: #6497B1;padding: 40px 0} */
/*content*/
/* #content {background: #035B96;padding: 40px 0} */
/* section1 */
#section1{background: #222222; position: relative;}
#section1 .row{max-width: 1440px}
.s1Left.col-6{width: 54%;max-height: 416px}
.s1Right.col-6{width: 46%;max-height: 416px}
.s1Left {padding: 70px 0 50px;}
.s1Left section{max-width: 587px;text-align: left;color:#fff; margin: 0 50px 0 140px;}
.s1Left section h2{font-family: "Oswald"; font-weight: 400; font-size: 40px;line-height: 50px}
.s1Left section p{font-family: "Abel"; font-weight: 400; font-size: 18px; line-height: 30px}
.s1Right img{max-width: 662px; width: 100%;}

/* section2 */
#section2{background: #000000; position: relative;}
#section2 .row{max-width: 1440px}
.s2Left.col-6{width: 50%;max-height: 756px}
.s2Right.col-6{width: 50%;max-height: 756px}
.s2Left img{max-width: 720px; width: 100%;}
.s2Right{padding: 70px 0;}
.s2Right section{max-width: 570px;text-align: center;margin: 0 120px 0 30px;color: #fff}
.s2Right section h1{color: #fff; line-height: 57px}
.s2Right section p{font-family: "Abel"; font-weight: 400; font-size: 17px; color: #fff;margin: 30px 0;line-height: 27px}
.s2Right section .imageBox{display: flex; justify-content: space-between;/*flex-wrap: wrap*/; margin-top: 30px;}
.s2Right section .imageBox img{max-width: 275px; width: 48%;height: 100%;}

/* section3 */
#section3{background: #222222 url(../images/common/bg1.jpg)no-repeat right top; background-size: 50% 100%;position: relative;}
#section3 .row{max-width: 1440px}
.s3Left.col-6{width: 50%;}
.s3Right.col-6{width: 50%;}
.s3Left {padding: 40px 0;}
.s3Left img{max-width: 521px; width: 100%;margin: 0 auto; }
.s3Right{padding: 100px 0;}
.s3Right section{max-width: 570px; margin: 0 auto; text-align: center; color: #fff}
.s3Right section h1{color: #fff; line-height: 57px; margin-bottom: 100px;position: relative;}
.s3Right section h1:after{content: ""; width: 1px; height: 70px; background: #E6A316; position: absolute; top: 130%; left: 50%; transform: translateX(-50%);}
.s3Right section p{font-family: "Abel"; font-weight: 400; font-size: 20px; color: #fff;margin: 30px 0;line-height: 27px}

/* section4 */
#section4{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: cover; padding: 50px 0;}
#section4 .categories{display: flex; justify-content: space-around;}
#section4 dl:first-child{clip-path: polygon(90% 0, 100% 25%, 100% 100%, 0 100%, 0 0);}
#section4 dl:last-child{clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 80%);}
#section4 dl{max-height: 223px}
#section4 dl dt{max-width: 553px; width: 100%;}
#section4 dl dd{background: linear-gradient(#E6A316,#D55D06); margin: -4px auto 0; padding: 4.5px 0;font-family: "Oswald"; font-weight: 400; font-size: 30px; color: #fff}

/* section5 */
#section5{background: #222222}
#section5 .row{max-width: 1440px;}
.s5Left.col-6{width: 50%;}
.s5Right.col-6{width: 50%;}
.s5Left {background: url(../images/content/img4.jpg)no-repeat center top;padding: 136px 0;}
.s5Left section h1{color: #fff; margin-bottom: 140px;position: relative;line-height: 70px}
.s5Left section h1:after{content: ""; width: 1px; height: 70px; background: #E6A316; position: absolute; top: 130%; left: 50%; transform: translateX(-50%);}
.s5Right{padding: 120px 0 80px;}
.s5Right section h3{font-family: "Oswald"; font-weight: 400; font-size: 30px; color: #fff;margin-bottom: 30px}
.s5Right section {max-width: 570px;margin: 0px 117px 0 27px;}
.s5Right section .gallery img{display: inline-block; vertical-align: top; margin: 6px 3px;max-width:275px; width: 48%;}

/* section6 */
#section6{background: url(../images/common/bg3.jpg)no-repeat center top; background-size: cover}
#section6 .row{max-width: 1440px}
.bg-location {width: 15px; height: 23px; background: url('../images/common/css_sprites.png') -66px -10px;}
.bg-phone {width: 36px; height: 23px; background: url('../images/common/css_sprites.png') -10px -10px;}
#section6 .col-6{width: 50%;}
.s6Left {padding: 85px 0 20px;}
.s6Left section {max-width: 570px; margin: 0 30px 0 120px;}
.s6Left section .contact{display: flex; justify-content: space-around;text-align: left;}
.s6Left section .contact dl dt{font-family: "Oswald"; font-weight: 300; font-size: 22px; color: #fff;}
.s6Left section .contact dl dt img{margin-right: 15px;}
.s6Left section .contact dl dd{font-family: "Abel"; font-weight: 400; font-size: 22px; color: #fff; margin: 0}
.s6Left section .contact dl:last-child dd{font-size: 22px; margin: 0;}
.s6Left section form input[type=text]::placeholder, .s6Left section form textarea::placeholder{text-align: center;font-family: "Poppins"; font-weight: 400; font-size: 15px; color: #fff}
.s6Left section form input[type=text], .s6Left section form textarea{background: #000; border-radius: 0; border: 1px solid #111111}
.s6Left section form input[type=text]{height: 35px;}
.s6Left section form label{color: #fff}
.s6Right img{max-width: 720px; width: 100%;}

/*footer*/
#footer {background: url(../images/common/bgFooter.jpg)no-repeat center top; background-size: cover;padding: 20px 0}
#footer img{max-width: 556px; width: 100%;}
#footer .copy, #footer .silver{font-family: "Abel"; font-weight: normal; font-size: 17px; color: #fff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px;}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content h1{margin-bottom: 20px;}
.inner #content h2{color: #fff;font-size: 30px}
.inner #content h3{color: #fff; font-size: 20px}
.inner #content p.tag {font-size: 20px}
.inner #content p{font-family: "Oswald"; font-size: 17px; line-height: 30px; font-weight: 400; color: #fff;}
.inner #content ul li{font-family: "Oswald"; font-size: 17px; line-height: 40px; font-weight: 400; color: #fff;}
.inner #content ul.towns{text-align: center;columns:3;list-style:none;padding: 0;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
/** Responsive
-------------------------------------------------------*/

/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
